{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Defra UCD Roadmap
    </h1>
    <p>
      This is our current roadmap, which takes us through to late 2021.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-7">What we’re working on</h2>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0" aria-hidden="true">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Enabling consistent delivery</h3>

    <!--<p class="govuk-body">Improve site resilience, security, navigation and publishing</p>-->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Recently shipped</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Prioritise UCD goals with heads, leads and ops</li>
      <li>Agree a frequency to review and adapt ways of working</li>
      <li>Identify appropriate and consistent official tools for user research</li>
      <li>Create a UCD roadmap</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Working on now</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Create repeatable design patterns and a pattern backlog</li>
      <li>Understand how we get access to tools in DDTS</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Exploring</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Purchasing laptops for contractors in design</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" aria-hidden="true">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Telling people about what we do</h3>

    <!--<p class="govuk-body">Communicate critical, changing information, and support government’s goal to make complex tasks easier</p>-->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Recently shipped</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Create and share a concise and consistent "Why" for UCD</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Working on now</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Exploring</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Write a mission statement</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" aria-hidden="true">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Connect insights across GOV.UK to enable joined-up service delivery</h3>

    <p class="govuk-body">Analyse trends and patterns across whole journeys to help improve user experience</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Recently shipped</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Expanded and automated our data reporting, including for coronavirus and Brexit content insights</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Working on now</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Build tools to create anonymous data visualisations so it's easier to analyse how users interact with digital government services</li>
      <li>Make anonymous reports that show how users move across platforms and services, so we can improve their experience</li>
      <li>Get a better understanding of cookie opt-in rates, so we have a more accurate idea of actual visitor trends</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Exploring</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Find more ways to automate analysis so government can identify and respond to trends more quickly</li>
      <li>Experiment with audience analysis across sections of GOV.UK to understand page usage vs reading time to support product and content iteration</li>
      <li>Simplify how feedback is analysed and gathered, so we can better measure our impact and identify issues</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" aria-hidden="true">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Provide a personalised and proactive service</h3>

    <p class="govuk-body">Develop site-wide account features that offer users relevant information and more helpful notifications</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Recently shipped</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Defined different types of personalisation and how they relate to GOV.UK</li>
      <li>Worked with users to find out what they want from an account on GOV.UK</li>
      <li>Reviewed how users interacted with the new account functionality on the <a href="/transition-check/questions" class="govuk-link">Brexit checker</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Working on now</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Experiment with showing users guidance based on what they tell us through accounts on GOV.UK, thereby making GOV.UK content more relevant to them</li>
      <li>Add more detailed metadata to GOV.UK pages so it’s easier to categorise them, find things, and show more relevant content</li>
      <li>Pilot features that could be part of site-wide accounts on GOV.UK, such as 'save a page' and setting a location</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Exploring</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Analyse common page-by-page routes through GOV.UK, to show users more relevant content</li>
      <li>Look at tools and techniques we could use to categorise user types (without accounts)</li>
      <li>Test using anonymised browsing data to suggest relevant next steps (e.g. if registering for a passport, we could suggest travel guidance)</li>
      <li>Review publishing applications to make sure they support personalised content</li>
      <li>Find out where an account on GOV.UK could be useful for other government services</li>
      <li>Think about how to <a href="https://gds.blog.gov.uk/2020/11/05/new-approaches-to-gov-uk-content/?utm_medium=referral%20&amp;utm_source=roadmap_gov&amp;utm_campaign=roadmap_update" class="govuk-link">tag and categorise content segments</a>
        to support personalisation work</li>
      <li>Expand accounts on GOV.UK across the full website</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" aria-hidden="true">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Be channel agnostic</h3>

    <p class="govuk-body">Make GOV.UK's content available where the user is, such as search engines and voice assistants</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Recently shipped</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Made use of schema.org standards to integrate local election content and services into search engine results</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Working on now</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Continue work to use <a
          href="https://dataingovernment.blog.gov.uk/2020/04/30/using-new-updates-to-schema-org-to-assist-our-response-to-the-coronavirus-pandemic/?utm_medium=referral%20&amp;utm_source=roadmap_gov&amp;utm_campaign=roadmap_update"
          class="govuk-link">schema.org standards on GOV.UK</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s govuk-!-margin-bottom-4">Exploring</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Work with multiple third parties to test integrations of GOV.UK content and products where users are</li>
      <li>Structure content into small sections so it can be re-used across GOV.UK and other channels</li>
      <li>Develop our publishing applications so we’re able to create structured content that can be used on other channels</li>
    </ul>
  </div>
</div>

{% endblock %}
